<div  class="chat-container">

    <div #divMensajes class="chat-messages">
      <div class="grid gap-y-6">
        <app-gpt-message
          [text]="'🔈🎵 ¿Qué audio deseas convertir a texto? 🚀'"
        />
        @for (message of messages(); track message.id) {
          @if(message.isGpt) {
            <app-gpt-message
              [text]="message.text"
            />
          } @else {
            <app-my-message
              [text]="message.text"
            />
          }
        }
      </div>
      @if (isLoading()) {
        <app-typing-loader [type]="'typing'"/>
      }
    </div>
    
    <app-text-message-box-file
      placeholder="Escribe aquí las características de la conversión ⚛️🧪😄"
      (onMessage)="handleMessageWithFile($event)"
    />
    
</div>
    
  
  
  
