<div class="chat-container">

  <div #divMensajes class="chat-messages">
    <div class="grid gap-y-6">
      <app-gpt-message
        [text]="'⚡ Redacta el texto que quieres que revise 🚀'"
      />
      @for (message of messages(); track $index) {
        @if(message.isGpt) {
          <app-gpt-message-orthography
            [userScore]="message.info?.userScore || null"
            [text]="message.text"
            [errors]="message.info?.errors || []"
          />
        } @else {
          <app-my-message
            [text]="message.text"
          />
        }
      }
    </div>
    @if (isLoading()) {
      <app-typing-loader [type]="'typing'"/>
    }
  </div>

  <app-text-message-box
    placeholder="Escribe aquí tu texto 😄"
    (onMessage)="handleMessage($event)"
    [disableCorrection]="true"
  />

</div>
